<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
    />
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <style>
      body {
        background: linear-gradient(to top, #08003b, #0d227b);
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .bg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
        width: 90vh;
        height: 90vh;
        background: url(images/img1.png);

        background-size: cover;
      }
      #user-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #send-user {
        background: transparent;
        border: none;
        cursor: pointer;
      }
      #send-user svg {
        transform: rotate(45deg);
      }
      #room-container {
        display: none;
        overflow-y: auto;
        width: 200px;
        height: 200px;
        background: aliceblue;
        padding: 3px;
        border-radius: 10px;
      }
      #room-container::-webkit-scrollbar {
        width: 0.5em;
      }
      #room-container::-webkit-scrollbar-thumb {
        background: lightblue;
        border-radius: 10px;
      }
      #room-container div {
        margin-top: 10px;
        border-bottom: 2px solid blue;
        display: flex;
        align-items: center;
      }

      #room-container div a {
        margin-left: auto;
      }
      #roomForm {
        display: none;
      }

      #welcome {
        color: white;
        display: none;
        font-size: 20px;
      }

      #welcome div span {
        color: white;
        margin: 1px;
        font-size: 40px;
      }
    </style>
  </head>
  <body>
    <div id="welcome">Welcome back,</div>
    <form id="user-container" method="GET">
      <input
        class="animated jackInTheBox"
        id="user-name"
        type="text"
        placeholder="Enter your Name:"
        autocomplete="off"
        required
      />
      <button type="submit" id="send-user" class="animated lightSpeedIn">
        <svg
          id="Layer_1"
          enable-background="new 0 0 512.027 512.027"
          width="36"
          height="36"
          viewBox="0 0 512.027 512.027"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g>
            <path
              d="m496.017 256.027c0 187.944-205.497 300.885-363.58 205.79-69.79-42.033-116.42-118.447-116.42-205.79 0-132.517 107.414-240 240-240 132.526 0 240 107.426 240 240z"
              fill="#80aaff"
            />
          </g>
          <g>
            <path
              d="m482.707 335.027c-50.293 144.349-220.864 204.634-350.27 126.79 6.193-47.182 20.777-68.613-24.96-122.89-6.94-8.24-14.39-16.6-17.34-26.96-5.97-21.01 8.11-41.97 21.41-59.29l10.04-2.76c38.62 5.25 80.31 9.97 114.5-8.73 25.63-14.03 42.89-39.08 62.69-60.55 19.8-21.48 46.32-41.05 75.38-38.01 17.729 1.845 25.482 10.23 31.9 25.31 22.937 53.84 2.334 83.737 13.1 111.84 8.804 22.982 41.032 41.624 63.55 55.25z"
              fill="#6994ff"
            />
          </g>
          <g>
            <path d="m104.017 256.027 272-120-120 272-48-104z" fill="#f9f9f9" />
          </g>
          <g>
            <path
              d="m91.468 149.312c4.706-17.091 12.815-34.289 30.096-38.264 12.519-2.88 17.504 1.657 28.817-11.108 12.859-14.508 20.819-30.127 42.54-41.44 46.263-24.095 67.901 29.262 25.392 41.512-14.195 4.09-28.133 2.632-47.432 14.582-12.227 7.571-13.562 13.051-18.114 25.294-12.093 32.523-43.263 65.602-60.489 52.046-10.911-8.586-3.805-31.745-.81-42.622z"
              fill="#fff"
            />
          </g>
          <g>
            <path
              d="m426.448 103.047c-6.032 0-9.382-2.82-12.645-6.017-6.314-6.182-6.421-16.312-.239-22.626 6.183-6.314 16.313-6.421 22.626-.239.57.558 1.128 1.116 1.687 1.686 9.926 10.133 2.637 27.196-11.429 27.196z"
              fill="#4d0033"
            />
          </g>
          <path
            d="m369.559 121.389-272 120c-12.572 5.546-12.741 23.4-.247 29.166l98.648 45.53 45.53 98.648c5.757 12.475 23.612 12.343 29.166-.247l120-272c5.884-13.337-7.764-26.981-21.097-21.097zm-113.871 247.745-28.468-61.681 24.111-24.111c6.248-6.248 6.248-16.379 0-22.627-6.249-6.249-16.379-6.249-22.628 0l-24.111 24.111-61.682-28.468 201.813-89.035z"
            fill="#4d0033"
          />
          <g>
            <path
              d="m256.017 512.027c-141.485 0-256-114.495-256-256 0-81.288 38.025-154.832 99.022-202.234 88.239-68.589 205.778-69.473 292.984-14.688 7.482 4.701 9.738 14.577 5.037 22.06-4.7 7.482-14.578 9.737-22.06 5.037-149.17-93.712-342.983 14.275-342.983 189.825 0 123.514 100.486 224 224 224 121.566 0 224-98.552 224-224 0-42.507-11.951-83.862-34.562-119.597-4.725-7.467-2.502-17.351 4.965-22.076s17.352-2.501 22.076 4.966c73.656 116.406 42.497 274.49-78.083 352.111-41.259 26.558-89.115 40.596-138.396 40.596z"
              fill="#4d0033"
            />
          </g>
        </svg>
      </button>
    </form>
    <div class="bg"></div>
    <form action="/room" method="POST" id="roomForm">
      <input
        name="room"
        type="text"
        required
        class="animated rotateInDownLeft delay-1s"
        autocomplete="off"
        placeholder="Creat or Choose"
      />
      <button type="submit" class="animated rotateInDownRight delay-1s">
        New Room
      </button>
    </form>
    <br />
    <div id="room-container" class="animated zoomIn delay-1s">
      <% Object.keys(rooms).forEach(room => { %>
      <div>
        <%= room %>
        <a href="/<%= room %>">
          <svg
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="24"
            height="24"
            viewBox="0 0 488.161 488.161"
            style="enable-background: new 0 0 488.161 488.161;"
            xml:space="preserve"
          >
            <g>
              <g>
                <path
                  d="M203.713,257.016c-47.792,4.667-95.595,9.201-143.387,13.878c-7.607,0.741-11.845,6.485-12.708,12.477
              c-2.517,4.591-2.56,10.421,2.252,15.224c9.953,9.953,19.842,19.962,29.102,30.56c-13.114,13.944-49.721,50.028-65.211,61.367
              c-7.736,5.657-7.028,15.483-2.473,21.262c0.582,1.94,1.638,3.859,3.41,5.632c21.871,21.876,43.663,43.808,64.64,66.542
              c5.657,6.139,12.952,4.88,17.725,0.543c0.759-0.427,1.508-0.894,2.237-1.493c17.207-14.157,56.018-52.384,71.811-68.064
              c7.632,6.946,14.99,14.183,22.297,21.489c2.843,2.844,6.048,3.946,9.14,3.9c8.097,3.849,19.896,0.065,19.51-11.507
              c-1.752-53.232-0.968-106.465,0-159.702C222.26,258.179,211.663,254.163,203.713,257.016z M194.544,400.038
              c-4.402-4.123-8.876-8.186-13.492-12.091c-3.796-3.209-8.076-3.859-11.946-2.966c-3.331-0.264-6.837,0.833-9.92,3.921
              c-15.147,15.132-53.237,52.902-69.388,66.938c-16.458-17.509-33.339-34.602-50.307-51.607
              c16.026-13.051,53.438-50.303,67.415-65.714c6.833-7.536,3.047-17.204-3.583-21.287c-0.536-1.173-1.186-2.32-2.115-3.428
              c-5.352-6.322-10.968-12.405-16.704-18.367c36.805-3.574,73.615-7.104,110.42-10.684
              C194.281,323.182,193.884,361.613,194.544,400.038z"
                />
                <path
                  d="M283.445,230.339c47.819-4.337,95.658-8.534,143.479-12.875c7.616-0.69,11.893-6.401,12.791-12.385
              c2.549-4.575,2.636-10.399-2.143-15.247c-9.882-10.024-19.703-20.096-28.895-30.762c13.219-13.848,50.069-49.678,65.639-60.905
              c7.779-5.611,7.14-15.435,2.62-21.251c-0.563-1.945-1.604-3.875-3.367-5.657c-21.718-22.028-43.355-44.112-64.181-66.991
              c-5.61-6.172-12.913-4.972-17.717-0.67c-0.762,0.421-1.513,0.889-2.249,1.483c-17.306,14.033-56.381,51.993-72.28,67.56
              c-7.581-6.997-14.894-14.281-22.145-21.635c-2.829-2.861-6.023-3.993-9.121-3.968c-8.063-3.91-19.89-0.203-19.59,11.372
              c1.376,53.242,0.218,106.467-1.112,159.697C264.905,229.044,275.472,233.137,283.445,230.339z M293.606,87.386
              c4.377,4.154,8.82,8.247,13.411,12.183c3.772,3.234,8.043,3.91,11.923,3.046c3.326,0.292,6.845-0.785,9.947-3.846
              c15.249-15.034,53.604-52.534,69.853-66.456c16.336,17.618,33.104,34.825,49.952,51.953
              c-16.112,12.936-53.786,49.929-67.872,65.247c-6.886,7.487-3.169,17.181,3.433,21.314c0.528,1.171,1.168,2.328,2.098,3.443
              c5.312,6.362,10.877,12.474,16.574,18.479c-36.831,3.313-73.661,6.589-110.491,9.917
              C293.336,164.239,293.997,125.817,293.606,87.386z"
                />
                <path
                  d="M217.273,60.326c-0.749-7.611-6.484-11.847-12.474-12.71c-4.59-2.516-10.415-2.557-15.226,2.252
              c-9.958,9.953-19.957,19.842-30.559,29.104c-13.934-13.119-50.028-49.721-61.362-65.211c-5.662-7.739-15.485-7.031-21.27-2.476
              c-1.937,0.581-3.856,1.638-5.629,3.404C48.877,36.561,26.943,58.356,4.209,79.331c-6.134,5.656-4.877,12.954-0.541,17.727
              c0.427,0.754,0.896,1.509,1.498,2.237c14.155,17.204,52.384,56.022,68.06,71.808c-6.941,7.635-14.18,14.993-21.485,22.303
              c-2.839,2.843-3.945,6.048-3.9,9.143c-3.854,8.089-0.069,19.893,11.507,19.51c53.227-1.755,106.462-0.962,159.702,0
              c10.94,0.195,14.962-10.4,12.111-18.352C226.482,155.924,221.948,108.118,217.273,60.326z M88.13,194.549
              c4.124-4.405,8.183-8.876,12.091-13.494c3.207-3.796,3.856-8.074,2.963-11.944c0.264-3.333-0.838-6.837-3.915-9.922
              c-15.143-15.147-52.91-53.235-66.943-69.385c17.501-16.458,34.594-33.342,51.602-50.31c13.053,16.026,50.303,53.44,65.717,67.418
              c7.533,6.832,17.202,3.046,21.287-3.583c1.17-0.53,2.326-1.186,3.428-2.122c6.327-5.35,12.4-10.966,18.364-16.697
              c3.572,36.805,7.104,73.613,10.687,110.418C164.983,194.278,126.558,193.889,88.13,194.549z"
                />
                <path
                  d="M483.085,389.429c-14.035-17.306-51.993-56.386-67.562-72.284c6.997-7.587,14.284-14.895,21.643-22.15
              c2.858-2.823,3.986-6.022,3.961-9.115c3.909-8.063,0.208-19.891-11.375-19.591c-53.237,1.382-106.465,0.224-159.697-1.106
              c-10.938-0.279-15.031,10.293-12.238,18.26c4.332,47.824,8.536,95.659,12.878,143.483c0.695,7.617,6.398,11.893,12.391,12.797
              c4.575,2.549,10.399,2.63,15.238-2.144c10.024-9.881,20.099-19.702,30.763-28.889c13.848,13.213,49.678,50.069,60.905,65.633
              c5.611,7.78,15.432,7.141,21.251,2.626c1.945-0.569,3.875-1.61,5.657-3.372c22.028-21.713,44.112-43.355,66.988-64.176
              c6.175-5.616,4.972-12.913,0.666-17.727C484.147,390.913,483.674,390.161,483.085,389.429z M403.894,448.69
              c-12.938-16.113-49.927-53.786-65.247-67.867c-7.489-6.891-17.179-3.164-21.312,3.438c-1.174,0.528-2.331,1.168-3.443,2.092
              c-6.367,5.307-12.477,10.883-18.488,16.575c-3.312-36.831-6.587-73.661-9.913-110.487c38.426,0.914,76.846,1.574,115.28,1.179
              c-4.153,4.377-8.246,8.815-12.182,13.405c-3.229,3.778-3.91,8.054-3.047,11.924c-0.289,3.331,0.787,6.845,3.85,9.952
              c15.035,15.249,52.536,53.599,66.455,69.853C438.232,415.074,421.022,431.84,403.894,448.69z"
                />
              </g>
            </g>
          </svg>
        </a>
      </div>

      <% }) %>
    </div>
  </body>
</html>
