<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat App</title>
    <link rel="stylesheet" href="css/index.css" />
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <style>
      body {
        background: linear-gradient(to top, #08003b, #0d227b);
        height: 100vh;
        width: 100%;
        overflow: auto;
      }
      .bg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
        width: 90vh;
        height: 90vh;
        background: url(img1.png);

        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="bg"></div>
    <form action="/room" method="POST">
      <input name="room" type="text" required autocomplete="off" />
      <button type="submit">New Room</button>
    </form>
    <br />
    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
      <% }) %>
    </div>
  </body>
</html>
